
  .about {
    padding-bottom: 94px;
  }
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .qualities {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
